* {
  max-width: 1500px;
  font-family: "Inter", sans-serif;
}
body {
  margin: 0px;
  background-color: #f8fafe;
}
.container_mymarket {
  font-style: normal;
  font-weight: 700;
  font-size: 44px;
  line-height: 53px;
}
.shapka {
  margin-left: 50px;
}
.shapka__site {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 3;
  right: 0;
  left: 0;
  border-bottom: solid 1px #000000;
  background: #f8fafe;
}
.shapka__site_market {
  margin-left: 55px;
  margin-bottom: 5px;
}
.shapka__site_korzina {
  margin-right: 20px;
  margin-top: 20px;
}
.korzina {
  background-image: url(./resources/korzina.svg);
  background-repeat: no-repeat;
  background-color: #f8fafe;
  background-size: 40px 40px;
  border-style: none;
  min-height: 50px;
  min-width: 50px;
}
.korzina:hover {
  cursor: pointer;
  fill: #f36223;
}
.korzina__count {
  position: absolute;
  z-index: 3;
  right: 18px;
  top: 14px;
}
.shapka__hleb {
  margin-top: 90px;
}
.shapka__sulka {
  width: 103px;
  height: 19px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
}
a {
  color: #018ad2;
  text-decoration: 0;
}
a:hover {
  color: #f36223;
  text-decoration: 0;
}
a:focus {
  color: #a93a09;
}
.iphone {
  margin-top: 8px;
  margin-left: 50px;
}
.iphone__name {
  font-size: 32px;
  margin: 0;
}
.iphone__photo {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  gap: 10px;
}
.iphone__photo_one {
  width: 304.33px;
  height: 387px;
}
.iphone__photo_two {
  width: 192.73px;
  height: 387px;
}
.iphone__photo_three {
  width: 199.06px;
  height: 387px;
}
.iphone__photo_four {
  width: 361.5px;
  height: 387px;
}
.iphone__photo_five {
  width: 299.22px;
  height: 387px;
}
.harakteristiki {
  margin: 0 auto;
  margin-left: 51px;
  gap: 100px;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
}
.harakteristiki__left {
  display: flex;
}
.harakteristiki__sidebar {
  display: flex;
  flex-shrink: 0;
}
.tovar {
  gap: 100px;
}
.tovar__colortext {
  font-size: 16px;
  margin-top: 30px;
}
.tovar__borderpick {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  background-color: #f8fafe;
}
.tovar__borderpick_selected {
  border: 2px solid #f36223;
  border-radius: 4px;
}
.tovar__borderpick:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.tovar__borderpick:focus {
  border: 2px solid #a93a09;
  border-radius: 4px;
}
.tovar__borderpick_sizeone {
  width: 30.93px;
  height: 60px;
}
.tovar__borderpick_sizetwo {
  width: 44.45px;
  height: 60px;
}
.tovar__photo {
  display: flex;
  gap: 10px;
}
.tovar__memory {
  width: 298px;
  height: 73px;
}
.tovar__config {
  font-size: 16px;
  margin-top: 30px;
}
.tovar-allbuttons {
  display: flex;
  gap: 10px;
}
.tovar-allbuttons__button:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.tovar-allbuttons__button:focus {
  outline: 1px solid #a93a09;
}
.tovar-allbuttons__button {
  display: flex;
  padding: 10px 20px;
  border: 1px solid #888888;
  border-radius: 4px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  background-color: #f8fafe;
}
.tovar-allbuttons__button_selected {
  border: 2px solid #f36223;
  border-radius: 4px;
}
.tovar-allbuttons__button_text {
  font-size: 16px;
  flex: none;
}
.character-tovara__characteristics {
  font-size: 16px;
  margin-top: 30px;
}
.character-tovara__spisok {
  display: flex;
  flex-direction: column;
  padding: 0px 15px;
  gap: 10px;
}
.description__name {
  font-size: 16px;
  margin-top: 30px;
}
.sidebar {
  display: flex;
  flex-direction: column;
}
.harakteristiki__box {
  margin-top: 30px;
  box-sizing: border-box;
  flex-direction: column;
  padding: 20px;
  gap: 15px;
  width: 420px;
  height: 275px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
aside {
  float: right;
}
.gray {
  margin: 0;
  margin-top: 24px;
  width: 66px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  text-decoration-line: line-through;
  color: #888888;
}
.mbut {
  display: inline-flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 10px;
  background: #f36223;
  border-radius: 500px;
  border-style: hidden;
  margin-left: 10px;
}
.vosem {
  width: 31px;
  height: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  color: #ffffff;
  flex: none;
  order: 0;
  flex-grow: 0;
}
.bbut {
  display: flex;
  padding: 20px 49px;
  width: 380px;
  background: #f36223;
  border-radius: 4px;
  border-style: hidden;
}
.bbut:hover {
  background: #da4a0c;
  cursor: pointer;
}
.bbut:focus {
  background: #a93a09;
}
.bbut::before {
  content: url(./resources/korzina.png);
}
.harakteristiki__ad {
  font-size: 14px;
  color: #888888;
}
.harakteristiki__ads {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 40px;
}
.ifr_brd {
  box-sizing: border-box;
  display: flex;
  width: 420px;
  height: 300px;
  background: #f0f0f0;
  border: 1px dashed #888888;
}
.review_image {
  float: left;
  margin-top: auto;
  margin-bottom: 40px;
  border-radius: 100px;
}
.pd {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  position: absolute;
  background-color: #f2f2f2;
  justify-content: space-between;
  margin-top: 100px;
}
.pd__left {
  display: flex;
  margin-left: 51px;
}
.pd__up {
  margin-right: 46px;
  margin-left: 784px;
  margin-top: 46px;
}
.text_r {
  width: 196px;
  font-size: 20px;
  color: #ffffff;
  margin-left: 45px;
}
.harakteristiki__newprice {
  width: 132px;
  height: 39px;
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  color: #000000;
}
.harakteristiki__dostavka {
  display: flex;
  flex-direction: column;
  padding: 0px 0px 20px;
  gap: 10px;
  margin-top: 16px;
}
.harakteristiki__stoimost {
  height: 73px;
}
.character-tovara__spisok_color {
  color: #888888;
}
.character-tovara__spisok_color span {
  color: black;
}
.shapka__logo {
  display: inline-block;
  margin: 0;
  margin-top: 19px;
}
.reviews {
  margin: 0 auto;
  margin-top: 50px;
  margin-left: 51px;
}
.reviews-section {
  max-width: 880px;
}
.reviews-section__header {
  display: flex;
  justify-content: space-between;
}
.reviews-section__wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
}
.reviews-section__tittle {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
}
.reviews-section__count {
  font-weight: 700;
  font-size: 24px;
  color: #888888;
}
.reviews-section__button:hover {
  background: #f2f2f2;
  cursor: pointer;
}
.reviews-section__inside {
  display: flex;
  gap: 30px;
}
.reviews-section__photo {
  width: 140px;
  height: 140px;
  flex-shrink: 0;
  border-radius: 100px;
}
.reviews-section__name {
  margin: 0;
  font-weight: 700;
  font-size: 20px;
}
.reviews-section__rating {
  margin-top: 10px;
}
.reviews-section__parameters {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}
.reviews-section__parameter {
  margin: 0;
}
.reviews-section__list {
  display: flex;
  flex-direction: column;
  margin-top: 25px;
  gap: 40px;
}
/* здесь разделитель */
.separator {
  border-top: 1px;
  color: #888888;
}
.table {
  display: flex;
  flex-direction: column;
  max-width: 876px;
  margin-top: 20px;
}
.table__title {
  margin: 0px;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
}
.table__border {
  border-collapse: collapse;
  border: 1px solid #888888;
  text-align: center;
  white-space: normal;
}
.table__tr {
  border-right: 1px solid #888888;
  text-align: center;
  white-space: normal;
  padding: 10px;
  white-space: nowrap;
}
.table__tr:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.tabble__tr_td {
  border: 1px solid #888888;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 10px;
  white-space: nowrap;
}
.table__tr_td:hover {
  background-color: #f2f2f2;
  cursor: pointer;
}
.hr-dashed {
  margin: 20px 0;
  padding: 0;
  height: 0;
  border: none;
  border-top: 2px dashed #ddd;
}
.addreview {
  margin-top: 60px;
  margin-left: 168px;
}
.addreview__new {
  display: flex;
  flex-direction: row;
  gap: 30px;
}
.addreview__new_name {
  min-width: 495px;
  min-height: 40px;
}
.addreview__new_name:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}
.addreview__new_rating {
  min-width: 175px;
  min-height: 49px;
}
.addreview__new_rating:hover {
  border-style: solid;
  border-width: 2px;
  border-color: #000000;
}
.addreview__text_rev {
  min-width: 710px;
  min-height: 190px;
  margin: 0;
  resize: none;
}
.addreview__text_rev:hover {
  outline: 1px solid #000000;
}
.addreview_button_add {
  background: #f36223;
  border-radius: 4px;
  border-style: hidden;
  color: white;
  min-height: 30px;
  min-width: 177px;
  margin-top: 30px;
}
.addreview_button_add:hover {
  background: #da4a0c;
  cursor: pointer;
}
.addreview_button_add:focus {
  background: #a93a09;
}
@media (max-width: 1499px) {
  .table {
    display: none;
  }
  .shapka {
    margin-left: 15px;
  }
  .shapka__site_market {
    margin-left: 15px;
  }
  .iphone {
    margin-left: 15px;
    margin-right: 15px;
  }
  .harakteristiki {
    margin-left: 15px;
    justify-content: space-between;
    gap: 40px;
  }
  .harakteristiki__left {
    display: flex;
    flex-grow: 1;
  }
  .harakteristiki__sidebar {
    display: flex;
    flex-shrink: 0;
  }
  .harakteristiki__box {
    margin-right: 15px;
  }
  .reviews {
    margin-left: 15px;
  }
  .addreview {
    margin-left: auto;
  }
  .pd {
    min-width: 1024px;
    display: flex;
    flex-direction: row;
  }
  .pd__left {
    margin-left: 15px;
    min-width: 800px;
  }
  .pd__up {
    margin-right: 15px;
    margin-left: auto;
    margin-top: 35px;
  }
  .reviews-section__rating {
    height: 20px;
  }
  .reviews-section__photo {
    height: 100px;
    width: 100px;
  }
  .iphone__photo_one {
    height: 272px;
  }
  .iphone__photo_two {
    height: 272px;
  }
  .iphone__photo_three {
    height: 272px;
  }
  .iphone__photo_four {
    height: 272px;
  }
  .iphone__photo_five {
    height: 272px;
  }
}
.heart {
  background-image: url(./resources/Vector.png);
  background-repeat: no-repeat;
  background-color: white;
  background-size: 26px 20px;
  border-style: none;
  float: right;
  min-height: 26px;
  min-width: 26px;
}
.heart:hover {
  cursor: pointer;
  background-image: url(./resources/Vector_hover.png);
}
.heart:focus {
  background-image: url(./resources/Vector_focus.png);
}
.error {
  border: 1px solid red;
  padding: 10px 20px;
  color: white;
  background: red;
  display: none;
}
.error.visible {
  display: block;
}
